* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  background: transparent;
  transition: background 0.4s ease, box-shadow 0.4s ease;
  z-index: 1000;
}

.header.scrolled {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.container {
  max-width: 1200px;
  height: 150px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo img {
  max-height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

/* MENU */
.menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.menu a {
    font-size: 20px;
  color: #710710;
  text-decoration: none;
  font-weight: bold;
 
}

.menu a:hover {
  color: rgb(251, 250, 251);
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #484848;
  display: none;
  list-style: none;
  min-width: 200px;
}

.submenu a {
  display: block;
  padding: 10px;
  color: #fff;
}

.dropdown:hover .submenu {
  display: block;
}

/* SOCIAL */
.social a {
  color: #fff;
  margin-left: 15px;
  font-size: 25px;
}

.social a:hover {
  color: #25d366;
}

/* HAMBURGUER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 4px 0;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.6s ease;
}



.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* estilo do visualizador*/
.views-counter {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 12px 10px;
    font-size: 12px;
    font-weight: bold;
}

/* Ajuste para mobile */
@media (max-width: 768px) {
    .views-counter {
        font-size: 14px;
        padding: 10px;
    }
}




/* CONTENT */
.content {
  padding: 180px 20px;
}



/* MOBILE */
@media (max-width: 900px) {
  .nav {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    background: #111;
    display: none;
  }

  .nav.active {
    display: block;
  }

  .menu {
    flex-direction: column;
    padding: 20px;
  }

  .hamburger {
    display: flex;
  }

  .social {
    display: none;
  }
}

/* BANNER */
.banner {
  width: 100%;
  max-width: 1700px;
  height: 550px;
  margin: 180px auto 60px;
  overflow: hidden;
  border-radius: 12px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* SEÇÃO VÍDEOS */
.videos-section {
  max-width: 1200px;
  margin: 60px auto 80px;
  padding: 0 20px;
}

.videos-section h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

/* CONTAINER DOS VIDEOS */
.videos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}

/* CARD DE VIDEO */
.video-card {
  width: 100%;
  max-width: 550px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
  padding: 15px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.video-card h3 {
  margin-top: 15px;
  font-size: 20px;
}

.video-card p {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 10px;
}

.video-card:hover {
  transform: translateY(-8px);
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .videos-container {
    grid-template-columns: 1fr;
  }
}




/* AÇÕES */
.acoes {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px 80px;
}

.acoes h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}

/* CONTAINER */
.acoes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* CARD */
.acao-card {
  width: 100%;
  max-width: 350px;
  height: 550px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.acao-card:hover {
  transform: translateY(-8px);
}

.acao-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.acao-card h3 {
  padding: 15px;
  font-size: 20px;
}

.acao-card p {
  padding: 0 15px;
  font-size: 14px;
  line-height: 1.6;
  flex-grow: 1;
}

.acao-card a {
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #f04;
}

/* ANIMAÇÃO SCROLL */
/* ESTADO INICIAL */
.reveal {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* ATIVO */
.reveal.active {
  opacity: 1;
  transform: translateX(0);
}

/* RESPONSIVO */
@media (max-width: 1200px) {
  .acoes-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 600px) {
  .acoes-container {
    grid-template-columns: 1fr;
  }

  .banner {
    height: 300px;
    margin-top: 160px;
  }
}



.footer {
  background: #050505;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
}

@media (max-width: 600px) {
  .footer {
    font-size: 13px;
    padding: 15px 5px;
  }
}
