* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  
}


/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  background: transparent;
  transition: background 0.4s ease, box-shadow 0.4s ease;
  z-index: 1000;
}

.header.scrolled {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.container {
  max-width: 1200px;
  height: 150px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo img {
  max-height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

/* MENU */
.menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.menu a {
    font-size: 20px;
  color: #710710;
  text-decoration: none;
  font-weight: bold;
 
}

.menu a:hover {
  color: rgb(251, 250, 251);
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #484848;
  display: none;
  list-style: none;
  min-width: 200px;
}

.submenu a {
  display: block;
  padding: 10px;
  color: #fff;
}

.dropdown:hover .submenu {
  display: block;
}

/* SOCIAL */
.social a {
  color: #fff;
  margin-left: 15px;
  font-size: 25px;
}

.social a:hover {
  color: #25d366;
}

/* HAMBURGUER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 4px 0;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.6s ease;
}



.hero img {
  width: 100%;
  height: 20%;
  object-fit: cover;
}


/* MOBILE */
@media (max-width: 900px) {
  .nav {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    background: #111;
    display: none;
  }

  .nav.active {
    display: block;
  }

  .menu {
    flex-direction: column;
    padding: 20px;
  }

  .hamburger {
    display: flex;
  }

  .social {
    display: none;
  }
}



/* BUSCADOR */
.search-header {
  background: #1e1e1e;
  padding: 20px;
  
}

.search-box {
  max-width: 600px;
  margin: auto;
  display: flex;
  margin-top: 200px;
}

.search-box input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: none;
}

.search-box button {
  padding: 12px 20px;
  background: #ff9900;
  border: none;
  cursor: pointer;
  color: #000;
}

/* LAYOUT */
.layout {
  max-width: 1400px;
  margin: 30px auto;
  display: flex;
  gap: 20px;
  padding: 0 20px;
  
}

/* CONTAINER DE NOTÍCIAS */
.news-container {
  width: 900px;
}

/* CARD */
.news-card {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  gap: 20px;
  border-radius: 8px;
}

.news-text h1 {
  font-size: 22px;
  margin-bottom: 8px;
}

.news-text h2 {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.news-text h3 {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 10px;
}

.news-text a {
  color: #ff9900;
  font-weight: bold;
  text-decoration: none;
}

.news-image img {
  width: 300px;
  height: auto;
  border-radius: 6px;
}

/* SIDEBAR */
.sidebar {
  flex: 1;
}

.banner {
  background: #ddd;
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* PAGINAÇÃO */
.pagination {
  text-align: center;
  margin: 30px 0;
}

.pagination a {
  padding: 8px 12px;
  margin: 0 5px;
  background: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
}

.pagination a.active {
  background: #ff9900;
}

/* FOOTER */
footer {
  background: #1e1e1e;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVO */
@media (max-width: 1024px) {
  .layout {
    flex-direction: column;
  }

  .news-container {
    width: 100%;
  }

  .sidebar {
    display: flex;
    gap: 20px;
  }

  .banner {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .news-card {
    flex-direction: column;
  }

  .news-image img {
    width: 100%;
  }

  .sidebar {
    flex-direction: column;
  }
}
