* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* Fundo sutil */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #f2f4f7, #e9ecf1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 180px;
    
}

/* Área central */
.wrapper {
    width: 100%;
    max-width: 900px;
   
}

/* Título realmente centralizado */
.titulo {
    text-align: center;
    font-size: 2.4rem;
    color: #333;
    margin-bottom: 35px;
}

/* Contorno com degradê */
.borda-degrade {
    padding: 3px;
    border-radius: 20px;
   
}

/* Caixa do texto */
.texto {
    width: 900px;
    height:400px;
    background: #ffffff;
    border-radius: 17px;
    padding: 35px;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #444;
    transition: transform 0.4s ease, font-size 0.4s ease;
    
}

.texto p{
    text-align: justify;
}

/* Efeito hover */
.texto:hover {
    transform: scale(1.06);
    font-size: 1.25rem;
}

/* Footer */
.footer {
    width: 100%;
    margin-top: 50px;
    padding: 20px 10px;
    text-align: center;
    background: transparent;
}




/* Responsividade */
@media (max-width: 768px) {
    .titulo {
        font-size: 1.9rem;
    }

    .texto {
        font-size: 1rem;
         width: 400px;
         height:650px;
    }

    .texto:hover {
        transform: scale(1.03);
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 1.6rem;
    }

    .texto {
        padding: 25px;
    }
}